namespace: monitoring

replicaCount: 1

image:
  repository: grafana/grafana
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 3000
  targetPort: 3000
  nodePort: 30005

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
    storage: "1Gi"
  limits:
    cpu: "500m"
    memory: "512Mi"

persistence:
  storageClass: ""
  size: 1Gi
