namespace: monitoring
replicaCount: 1

image:
  repository: prom/prometheus
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9090
  targetPort: 9090

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

persistence:
  size: "1Gi"

prometheusConfig: |
  global:
    scrape_interval: 15s
  scrape_configs:
    - job_name: 'flask-web-app'
      metrics_path: '/metrics'
      static_configs:
        - targets: ['business-logic-dev.default.svc.cluster.local:8080']
    - job_name: 'kubernetes-nodes'
      kubernetes_sd_configs:
        - role: node
